/**
POlice : Bungee-regular
*/

*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}


header{
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: rgba(49, 49, 49,0.85);
    color: lightgray;
}

header #logo {
    position: absolute;
    left: 3%;
}

header nav{
    justify-self: center;
}

header nav ul{
    display: flex;
    gap : 10%;
    margin:0;
    padding: 0;
}

header nav li{
    list-style: none;
    position: relative;
}

header a {
    text-decoration: none;
    font-size: x-large;
}
header li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
header li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

header a:visited , header a:checked {
    color: lightgray;
}


#content{
    margin-top: 8vh;
}

#navList,#navCreate{
    display: flex;
    justify-content: center;
    margin: 5%;
}

#navList ul,#navCreate ul{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin: 0;
    padding: 0;
}

#navList li,#navCreate li{
    list-style: none;
    position: relative;
}
#navList li::after,#navCreate li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(49, 49, 49);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
#navList li:hover::after,#navCreate li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#navList a,#navCreate a{
    font-size: larger;
    text-decoration: none;
    color: rgb(49, 49, 49);
}
#navList a:visited , #navList a:checked ,#navCreate a:visited , #navCreate a:checked {
    color: rgb(49, 49, 49);
}

#navList .active::after,#navCreate .active::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(49, 49, 49);
    transform-origin: bottom right;
}

#listCard{
    position:relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
    max-width: 100vw;
    padding: 5% 3% 3%;
    margin: 2%;
    border-radius: 20px;
    border: 5px rgb(49, 49, 49) solid;
}

#listCard #research{
    position: absolute
}

#listCard a{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(212, 212, 212);
    text-decoration: none;
    color: rgb(49, 49, 49);
    transition: 1s;
}
#listCard a:hover{
    transform: scale(1.05);
    transition: 1s;
}

#listCard a:checked , #listCard a:visited{
    color: rgb(49, 49, 49);
}

.CardHeader{
    height: 80%;
    overflow: hidden;
}
.Card {
    position: relative;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Card h4{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
.Card p{
    position: absolute;
    top:0%;
    right: 0%;
    background-color: rgba(212, 212, 212,0.80);
    width: 18%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgb(49, 49, 49);
}
.Card p:visited ,.Card p:checked{
    color: lightgray;
}
.Card img {
    object-fit: contain;
    width: 100%;
}
#listCardWithoutPicture{
    position:relative;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 5% 0 3%;
    margin: 2%;
    border-radius: 20px;
    border: 5px rgb(49, 49, 49) solid;
}
#listCardWithoutPicture a{
    text-decoration: none;
    color: rgb(49, 49, 49);
}
#listCardWithoutPicture a:checked,#listCardWithoutPicture a:visited{
    color: rgb(49, 49, 49);
}
#listCardWithoutPicture .Card{
    height: 8vh;
    padding: 1%;
    transition: 0.5s;
}

#listCardWithoutPicture .Card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    border-bottom: 2px solid black; 

  }
#listCardWithoutPicture .Card h4{
    line-height: 0.5;
}
#listCardWithoutPicture .Card p{
    position: relative;
    background-color: white;
    width: 100%;
    height: auto;
  }
#listCardWithoutPicture a:hover{
    background-color:rgb(212, 212, 212) ;
    transition: 0.5s;
}
#listCardWithoutPicture a:hover p{
    background-color:rgb(212, 212, 212) ;
    transition: 0.5s;
}

form{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.form-select:focus,.form-control:focus{
    box-shadow: 7px 7px 7px rgb(212, 212, 212);
    border-color :2px rgb(49, 49, 49) solid;
}
.form-sub-container {
    display: grid;
    grid-template-columns: repeat( 2,1fr);
    grid-template-rows: 5% , 5%;
    align-items: start;
}

#floatingTextarea2{
    width: 100%;
    height: 30vh;
}

form .btn{
    margin-top: 1%;
    width: 30vw;
    align-self: center;
}

